/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos de Home */
body {
  background-color: pink; }
  body header {
    background-image: linear-gradient(to right, #fca5b3, #ecc5cb); }
    body header h1:hover {
      color: palevioletred;
      font-weight: bold; }
    body header .nombre__artista {
      color: white;
      font-size: 4rem;
      font: bold;
      font-family: 'Dancing Script', cursive;
      margin-top: 15px;
      display: grid;
      grid-template-columns: 100%; }
    body header .logo {
      width: 20%;
      text-align: left; }
    body header .fondo-nav {
      margin-top: 2rem;
      background-color: white; }
  body main {
    margin: 2rem;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif; }
    body main h3:hover {
      color: white;
      font-weight: bold; }
  body footer {
    color: black;
    text-align: right;
    font-family: 'Trispace', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 100%; }
