
//variables
$color-principal: pink

/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de Home */

body {
       background-color: $color-principal;
       header{
              background-image: linear-gradient(to right, rgb(252, 165, 179), rgb(236, 197, 203));
              h1:hover{
                      color: palevioletred;
                      font-weight: bold;
                      }
              .nombre__artista {
                               color: white;
                               font-size: 4rem;
                               font: bold;
                               font-family: 'Dancing Script', cursive;
                               margin-top: 15px;
                               display: grid;
                               grid-template-columns: 100%; 
                               }
              .logo{
                   width: 20%;
                   text-align: left;
                   }
              .fondo-nav{
                        margin-top: 2rem;
                        background-color: white;
                        }
            }
        main{
            margin: 2rem;
            padding: 1rem;
            font-family: 'Josefin Sans', sans-serif;
            h3:hover{
                color: white;
                font-weight: bold;
                }
            }
        footer{
                color: black;
                text-align: right;
                font-family: 'Trispace', sans-serif;
                font-size: 12px;
                font-weight: bolder;
                display: grid;
                grid-template-columns: 100%
            }
}