@import "utilities/variables";
@import "utilities/listas";
@import "utilities/mediaqueries";
@import "utilities/mixin";
@import "utilities/extend";


/*Estilos de Acuarela tips*/

main h2:hover{
    color: white;
    font-weight: bold;
}

.acuarela__titulo{
    @extend %estilo-titulos;
}

.video__acuarela{
    margin-left: 15px;
    size-adjust: 1rem;
}

.texto__acuarela{
    margin: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem
}

footer{
    @include estilo-footer;
}