%estilo-titulos{
    font-weight: bolder;
    font-size: 30px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 15px;
    margin-top: 1rem;
    border: 2px palevioletred;
    color: palevioletred;
}