
/*Media queries tamaño tablet*/
/*Index*/

@media screen and (min-width: 600px){

    body{
        header{
            div{
                .nombre__artista {
                    color: nth($list:$colores,$n:3);
                    font-size: 2.2rem *2;
                    font: bold;
                    font-family: 'Dancing Script', cursive;
                    margin-top: 38px;
                    display: grid;
                    grid-template-columns: 100%; 
                    }
               .logo{
                    width: 20%;
                    height: 20%;
                    text-align: left;
                    margin-top: 1.8rem;
                    margin-left: 0.5rem;
                    }
            }
        }
        main{
            .cuerpoIndex{
                margin: 2rem;
                padding: 1rem;
                font-family: 'Josefin Sans', sans-serif;
                display: grid;
                grid-template-columns: auto auto ;
                grid-template-rows: 1fr;
                grid-template-areas:"conoceProductos conoceProductos"
                                    "parrafo1 parrafo2";
                grid-area: conoceProductos;
            }
            
            .conoceProductos{
                grid-area: conoceProductos;
            }
            
            .parrafo1{
                grid-area: parrafo1;
            }
            
            .parrafo2{
                grid-area: parrafo2;
            }
        }
    } 
}
    

/*Productos*/

@media screen and (min-width: 600px){

    body{
        main{
            nav{
                .productosEnAcuarela{
                    display: flex;
                    justify-content: space-evenly;
                    display: grid;
                    padding: 2rem;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    grid-template-areas: "card1 card2" 
                                         "card3 card4" 
                                         "card5 card6";
                 }
            
                .card1{
                    grid-area: card1;
                }
                .card2{
                    grid-area: card2;
                }
                .card3{
                    grid-area: card3;
                }
                .card4{
                    grid-area: card4;
                }
                .card5{
                    grid-area: card5;
                }
                .card6{
                    grid-area: card6;
                }
            
                .retratos{
                    display: flex;
                    justify-content: space-evenly;
                    display: grid;
                    padding: 2rem;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    grid-template-areas: "cardRetrato1 cardRetrato2"
                                         "cardRetrato3 cardRetrato4"
                                         "cardRetrato5 cardRetrato6";
                }
            
                .cardRetrato1{
                    grid-area: cardRetrato1
                }
                    
                .cardRetrato2{
                    grid-area: cardRetrato2
                }
                .cardRetrato3{
                    grid-area: cardRetrato3
                }
                .cardRetrato4{
                    grid-area: cardRetrato4
                }
                .cardRetrato5{
                    grid-area: cardRetrato5
                }
                .cardRetrato6{
                    grid-area: cardRetrato6
                }
            
                .souvenirs{
                    display: flex;
                    justify-content: space-evenly;
                    display: grid;
                    padding: 2rem;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    grid-template-areas: "cardSouvenirs1 cardSouvenirs2" 
                                         "cardSouvenirs3 cardSouvenirs3";
                }
            
                    .cardSouvenirs1{
                        grid-area: cardSouvenirs1;
                    }
                    .cardSouvenirs2{
                        grid-area: cardSouvenirs2;
                    }
                    .cardSouvenirs3{
                        grid-area: cardSouvenirs3;
                    }
            
                .regalosPersonalizados{
                    display: flex;
                    justify-content: space-evenly;
                    display: grid;
                    padding: 2rem;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto;
                    grid-template-areas: "cardPersonalizados1 cardPersonalizados2"
                                         "cardPersonalizados3 cardPersonalizados3";
                }
            
                    .cardPersonalizados1{
                        grid-area: cardPersonalizados1;
                    }
                    .cardPersonalizados2{
                        grid-area: cardPersonalizados2;
                    }
                    .cardPersonalizados3{
                        grid-area: cardPersonalizados3;
                    }
            }
        }
    }

    
    }

/*Acuarela tips*/
@media screen and (min-width:600px){

    body{
    .video__acuarela{
        margin-left: 7.5rem;
        width: 600px;
        height: 450px;
    }
    }   
}

/*Sobre mi*/
@media screen and (min-width:600px){

   body{
    main{
    .sobremi__titulo{
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 1rem;
        margin-left: 1rem;
        border: 2px palevioletred;
        color: palevioletred;
    }

    .imagen__yani{
        width: 400px;
        margin-left: 1rem;
    }
    .sobreMi{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        grid-template-areas: "sobremi__titulo sobremi__titulo"
                             "imagen__yani texto__sobremi1"
                             "subtitulos__sobremi1 subtitulos__sobremi1"
                             "texto__sobremi2 texto__sobremi2"
                             "subtitulos__sobremi2 subtitulos__sobremi2"
                             "texto__sobremi3 texto__sobremi3"
                             "subtitulos__sobremi3 subtitulos__sobremi3"
                             "texto__sobremi4 texto__sobremi4" 
                             "instagram__yani instagram__yani";
    }
    
    .sobremi__titulos{
        grid-area: sobremi__titulo
    }
    
    .imagen__yani{
        grid-area: imagen__yani;
    }
    
    .texto__sobremi1{
        grid-area: texto__sobremi1;
    
    }
    
    .subtitulos__sobremi1{
        grid-area: subtitulos__sobremi1;
    }
    
    .texto__sobremi2{
        grid-area: texto__sobremi2;
    }
    
    .subtitulos__sobremi2{
        grid-area: subtitulos__sobremi2;
    }
    
    .texto__sobremi3{
        grid-area: texto__sobremi3;
    }
    
    .subtitulos__sobremi3{
        grid-area: subtitulos__sobremi3;
    }
    
    .texto__sobremi4{
        grid-area: texto__sobremi4;
    }
    
    .instagram__yani{
        grid-area: instagram__yani;
    }

    .logoInstagram{
        width: 8%;
        margin-left: 23.5rem;
        display: flex;
    }

    .texto__sobremi1{
        padding: 0rem;
        margin: 0rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem 
    }
}
}
}

/*contacto*/

@media screen and (min-width:600px){
    
    .formulario__contacto{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 500px;
        padding: 10px;
        background-color: rgb(243, 231, 233);
        border: 5px;
        border-radius: 15px;
    }
}
    


/*Media queries tamaño desktop*/
/*Index*/
@media screen and (min-width: 1024px){
    body{
        header{
            div{
                .nombre__artista {
                    color: nth($list:$colores,$n:3);
                    font-size: 2.2rem *2;
                    font: bold;
                    font-family: 'Dancing Script', cursive;
                    margin-top: 38px;
                    display: grid;
                    grid-template-columns: 100%; 
                    }
               .logo{
                    width: 10%;
                    height: 10%;
                    text-align: left;
                    margin-top: 1.8rem;
                    margin-left: 0.5rem;
                    }
            }
        }
}
}
    


/*Productos*/

@media screen and (min-width: 1024px){
    
body{
    main{
        nav{
         .productosEnAcuarela{
            display: grid;
            padding: 2rem;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: "card1 card2 card3"
                                 "card4 card5 card6";
        .card1{
            grid-area: card1;
        }
        .card2{
            grid-area: card2;
        }
        .card3{
            grid-area: card3;
        }
        .card4{
            grid-area: card4;
        }
        .card5{
            grid-area: card5;
        }
        .card6{
            grid-area: card6;
        }
        }
    
        .retratos{
            display: grid;
            padding: 2rem;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: "cardRetrato1 cardRetrato2 cardRetrato3"
                                 "cardRetrato4 cardRetrato5 cardRetrato6";
    
        .cardRetrato1{
            grid-area: cardRetrato1
        }
            
        .cardRetrato2{
            grid-area: cardRetrato2
        }
        .cardRetrato3{
            grid-area: cardRetrato3
        }
        .cardRetrato4{
            grid-area: cardRetrato4
        }
        .cardRetrato5{
            grid-area: cardRetrato5
        }
        .cardRetrato6{
            grid-area: cardRetrato6
        }
    }
    
        .souvenirs{
            display: grid;
            padding: 2rem;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            grid-template-areas: "cardSouvenirs1 cardSouvenirs2 cardSouvenirs3";
    
            .cardSouvenirs1{
                grid-area: cardSouvenirs1;
            }
            .cardSouvenirs2{
                grid-area: cardSouvenirs2;
            }
            .cardSouvenirs3{
                grid-area: cardSouvenirs3;
            }
            }

            .regalosPersonalizados{
                display: flex;
                justify-content: space-evenly;
                display: grid;
                padding: 2rem;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                grid-template-areas: "cardPersonalizados1 cardPersonalizados2 cardPersonalizados3";
                .cardPersonalizados1{
                    grid-area: cardPersonalizados1;
                }
                .cardPersonalizados2{
                    grid-area: cardPersonalizados2;
                }
                .cardPersonalizados3{
                    grid-area: cardPersonalizados3;
                }
            }
        }
        
    }
}
}

/*Acuarela tips*/
@media screen and (min-width: 1024px){
    body{
        .video__acuarela{
            margin-left: 23rem;
            width: 600px;
            height: 450px;
        }
        } 
}


/*Sobre mi*/
@media screen and (min-width:1024px) {

    body{
        main{
            .sobremi__titulo{
                font-weight: bolder;
                font-size: 30px;
                text-align: left;
                font-family: 'Josefin Sans', sans-serif;
                margin-bottom: 1rem;
                margin-left: 1rem;
                border: 2px palevioletred;
                color: palevioletred;
            }
        
            .imagen__yani{
                width: 300px;
                margin-left: 1rem;
            }
            .sobreMi{
                display: grid;
                grid-template-columns: auto auto ;
                grid-template-rows: auto;
                grid-template-areas: "sobremi__titulo sobremi__titulo"
                                     "imagen__yani texto__sobremi1"
                                     "imagen__yani subtitulos__sobremi1"
                                     "imagen__yani texto__sobremi2"
                                     "subtitulos__sobremi2 subtitulos__sobremi2"
                                     "texto__sobremi3 texto__sobremi3"
                                     "subtitulos__sobremi3 subtitulos__sobremi3"
                                     "texto__sobremi4 texto__sobremi4" 
                                     "instagram__yani instagram__yani";
            }
            
            .sobremi__titulos{
                grid-area: sobremi__titulo
            }
            
            .imagen__yani{
                grid-area: imagen__yani;
            }
            
            .texto__sobremi1{
                grid-area: texto__sobremi1;
            
            }
            
            .subtitulos__sobremi1{
                grid-area: subtitulos__sobremi1;
            }
            
            .texto__sobremi2{
                grid-area: texto__sobremi2;
                margin-top: 0.2rem;
            }
            
            .subtitulos__sobremi2{
                grid-area: subtitulos__sobremi2;
            }
            
            .texto__sobremi3{
                grid-area: texto__sobremi3;
            }
            
            .subtitulos__sobremi3{
                grid-area: subtitulos__sobremi3;
            }
            
            .texto__sobremi4{
                grid-area: texto__sobremi4;
            }
            
            .instagram__yani{
                grid-area: instagram__yani;
            }
        
            .logoInstagram{
                width: 3%;
                margin-left: 40rem;
                display: flex;
            }
        }
    }
    

}
