@import "utilities/variables";
@import "utilities/listas";
@import "utilities/mixin";
@import "utilities/extend";
@import "utilities/mediaqueries";


/*Estilos de Productos para móvil*/

@media screen and (min-width: 320px) {

body{
    header{
    main h3:hover{
    color: white;
    font-weight: bold;
    }
    
    .productos__menu{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 5px;
    background-color: pink;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
    border: double white;
    color: black;
    }
    }
    
    main{
    h3{
        @include estilo-titulos
    }
    nav{
        h4{
            @include estilo-subtitulosProductos  
        }
        .productosEnAcuarela{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: grid;
            padding: 2rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "card1" 
                                 "card2" 
                                 "card3"
                                 "card4" 
                                 "card5" 
                                 "card6";
        .card1{
            grid-area: card1;
        }
        .card2{
            grid-area: card2;
        }
        .card3{
            grid-area: card3;
        }
        .card4{
            grid-area: card4;
        }
        .card5{
            grid-area: card5;
        }
        .card6{
            grid-area: card6;
        }
        }
    
        .retratos{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: grid;
            padding: 2rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "cardRetrato1" 
                                 "cardRetrato2" 
                                 "cardRetrato3"
                                 "cardRetrato4" 
                                 "cardRetrato5" 
                                 "cardRetrato6";
    
        .cardRetrato1{
            grid-area: cardRetrato1
        }
            
        .cardRetrato2{
            grid-area: cardRetrato2
        }
        .cardRetrato3{
            grid-area: cardRetrato3
        }
        .cardRetrato4{
            grid-area: cardRetrato4
        }
        .cardRetrato5{
            grid-area: cardRetrato5
        }
        .cardRetrato6{
            grid-area: cardRetrato6
        }
        }
    
        .souvenirs{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: grid;
            padding: 2rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "cardSouvenirs1"
                                 "cardSouvenirs2" 
                                 "cardSouvenirs3";
    
            .cardSouvenirs1{
                grid-area: cardSouvenirs1;
            }
            .cardSouvenirs2{
                grid-area: cardSouvenirs2;
            }
            .cardSouvenirs3{
                grid-area: cardSouvenirs3;
            }
        }
    
        .regalosPersonalizados{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            display: grid;
            padding: 2rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "cardPersonalizados1" 
                                 "cardPersonalizados2" 
                                 "cardPersonalizados3";
            .cardPersonalizados1{
                grid-area: cardPersonalizados1;
            }
            .cardPersonalizados2{
                grid-area: cardPersonalizados2;
            }
            .cardPersonalizados3{
                grid-area: cardPersonalizados3;
            }
        }
    }

    
}

    footer{
    @include estilo-footer;
    }
}
}